<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h2>{{section?.title}}</h2>
  <p>
    {{section?.description}}
  </p>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Laatste 5 vragen</ion-card-title>
      <ion-card-subtitle>Bekijk hier de laatste 5 vragen</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item tappable *ngFor="let question of questions">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label>
            {{question.title}}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Laatste 5 notities</ion-card-title>
      <ion-card-subtitle>Bekijk hier de laatste 5 notities</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
          <ion-item tappable *ngFor="let note of notes">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-label>
                {{note.title}}
              </ion-label>
            </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>