<form #form="ngForm"  (ngSubmit)="send(form)">

  <div padding text-center>
    <h3>Notitie aanmaken</h3>
  </div>
  <span class="error-message" >{{message}}</span>
  <div class="login-group" padding>
    <ion-item>
      <ion-input name="title" type="text" placeholder="Title" [(ngModel)]="note.title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="body" type="text" placeholder="Body" [(ngModel)]="note.body" required></ion-input>
    </ion-item>
  </div>
  <div padding>
    <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Opslaan</ion-button>
  </div>
</form>