<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>EduNote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <ion-img src="../assets/logo.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Welkom</ion-card-title>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mijn laatste 3 vragen</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
              <ion-item *ngFor="let question of questions">
                <ion-label>{{question.title}}</ion-label>
              </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            <ion-card-title>Mijn laatste 3 notities</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let note of notes">
                  <ion-label>{{note.title}}</ion-label>
                </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      <ion-list lines="none">
        <ion-list-header>
          <ion-label>Intellingen</ion-label>
        </ion-list-header>
        <ion-item href="#">
            <ion-icon slot="start" color="medium" name="person"></ion-icon>
            <ion-label>Mijn profiel</ion-label>
          </ion-item>
        <ion-item href="#">
          <ion-icon slot="start" color="medium" name="build"></ion-icon>
          <ion-label>Mijn account</ion-label>
        </ion-item>
      </ion-list>
</ion-content>