<ion-content padding>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card style="min-width: 150px;" padding>
        <form #form="ngForm" (ngSubmit)="login(form)">

          <div padding text-center>
            <h3>Inloggen in EduNote</h3>
          </div>
          <span class="error-message" >{{message}}</span>
          <div class="login-group" padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </form>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>